body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
 background-color: #9fd8df ;

}

h1 {
  margin-top: 0;
 font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   color: #66BFBF;
   font-weight: normal;
   padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.17em;
  font-weight: bold;
}

a {
  color: #16c79a;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;

}

p {
  line-height: 2;

}

hr {
  border: none;
  border-style: none;
  border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 20%;
margin: 100px auto;


}


.top-container {
  background-color: #ccf2f4;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.middle-container {

 margin: 120px 0;

}

.bottom-container {
background-color: #1687a7;
padding: 50px 0 20px;

}




.profile-description {
 width: 30%;
 margin: auto;
}
.pro {
  text-decoration: underline;
}

.contact-description {
  width: 40%;
  margin: 40px auto 60px;
}
.top-cloud {
  position: absolute;
  right: 670px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 470px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 175px auto;
  text-align: left;
  overflow: auto;

}

.repair {
 width: 25%;
 float: left;
 margin-right: 30px;
}

.solving {
 width: 25%;
 float: right;
margin-left: 30px;

}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 30px 0;
}


.btn {
	background:linear-gradient(to bottom, #11cdd4 5%, #11ccd4 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #30e3cb 100%);
	background-color:#30e3cb;
}
